
  <div nz-row>
    <div nz-col nzSpan="12" nzOffset="6">
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your email!">
              <nz-input-group nzPrefixIcon="email">
                <input type="email" class="form-control" id="email" placeholder="Enter email" [(ngModel)]="email" name="email">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <button type="submit" nz-button nzType="primary" (click)="findByUserEmailid()"><i nz-icon nzType="search"></i>Search</button>
          <br>

          <nz-table #basicTable [nzData]="users">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Experience</th>
                    <th scope="col">Domain</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.experience}}</td>
                    <td>{{user.domain}}</td>
                    <td class="text-center"><button (click)="delete(user.id)" nz-button nzType="danger">Delete</button></td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>



